body {
    background-color: red;
}

#map_canvas {
    height:50%; 
    margin: 0 auto;
    width: 80%;
    margin-top: 50px;
}


.buttonToggle {
    height: 200px;
    display: 'none';
}

.green {
    color: green;
}
